{% extends 'base.html.twig' %}

{% block title %}Nozama{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <p class="text-center mt-5">Nozama en France : une contribution positive à l’économie Nous servons avec passion nos clients en France. Toutefois, si nous pensons d’abord à eux, nous accordons également la plus grande importance à notre empreinte économique, sociale et environnementale au niveau local. En mettant toute notre énergie, notre savoir-faire et notre capacité d’innovation au service des Français, nous contribuons à la croissance de l’économie française. Nous souhaitions partager un aperçu de la manière dont nous contribuons à la croissance de l’économie française, à la création de milliers d’emplois, au financement des services publics et du modèle social français ; tout en prenant soin de préserver l’environnement</p>
</div>
{% endblock %}
