{% extends 'base.html.twig' %}

{% block title %}Nozama
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		{% for product in products %}
			<a class='text-black text-decoration-none mb-5' href='/product/{{product.id}}'>
				<div align="center" class=' mt-3 product-{{product.id}}'>
					<div class="card mb-3" style="max-width: 540px;">
						<div class="row g-0">
							<div class="col-md-4">
								<img src="{{product.imagelink}}" style="width: 100%!important;height: 200px!important;
																												object-fit: cover;" class="img-fluid rounded-start" alt="Image de {{product.title}}">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h1 class="card-title">{{product.title}}</h1>
									<p class="card-text">{{product.description}}</p>
									<p class="card-text">Prix:
										{{product.price}}€</p>
									<p class="card-text">Stock:
										{{product.stock}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		{% endfor %}
	</div>
{% endblock %}
