{% extends 'base.html.twig' %}

{% block title %}Nozama
{% endblock %}

{% block body %}
	<form align="center" method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.email }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}
		<div class='emails row d-flex justify-content-center'>
			<label class="form-label" for="inputEmail">Email</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control w-50" autocomplete="email" required autofocus>
		</div>
        <div class='password  row d-flex justify-content-center'>
		<label class="form-label" for="inputPassword">Mot de passe</label>
		<input type="password" name="password" id="inputPassword" class="form-control w-50" autocomplete="current-password" required>
</div>
		<input
		type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		{#
				        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
				        See https://symfony.com/doc/current/security/remember_me.html
				
				        <div class="checkbox mb-3">
				            <label>
				                <input type="checkbox" name="_remember_me"> Remember me
				            </label>
				        </div>
				    #}

		<button class="btn btn-lg btn-primary" type="submit">
			Envoyer
		</button>
	</form>
{% endblock %}
