{% extends 'base.html.twig' %}

{% block title %}Nozama
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<div class="d-flex flex-row justify-content-center admin" align="center">
			<a href="{{path('app_products_admin_add')}}" class="btn btn-primary me-1">Ajouter</a>
			<a href="{{path('app_admin')}}" class="btn btn-primary">Retour</a>
		</div>

		<div class="table-responsive">
			<table class="table align-middle">
				<thead>
					<tr>
						<th scope="col" class="w-25">Nom</th>
						<th scope="col" class="w-25">Description</th>
						<th scope="col" class="w-25">Prix</th>
						<th scope="col" class="w-25">Stock</th>
						<th scope="col" class="w-25">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for product in products %}
						<tr class="align-bottom">
							<td>{{product.title}}</td>
							<td>{{product.description}}</td>
							<td>{{product.price}}</td>
							<td>{{product.stock}}</td>
							<td class="d-flex inline-flex">
								<a class="text-dark me-1" href="{{path('app_products_update_add', {id: product.id})}}">Modifier</a>
								|
								<a class="text-dark ms-1" href="{{path('app_admin_products_delete', {id: product.id})}}">Supprimer</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
