{% extends 'base.html.twig' %}

{% block title %}Nozama
{% endblock %}

{% block body %}
	<h1>Register</h1>

	<div align="center" class='myform'>
		{{ form_start(registrationForm) }}
		<div class='mb-3'>
			{{ form_row(registrationForm.firstname, {
            label: 'Prénom',
            'attr': {
                'class': 'form-control w-50'
            }
        }) }}
		</div>
		{{ form_row(registrationForm.lastname, {
            label: 'Nom',
            'attr': {
                'class': 'form-control w-50'
            }
        }) }}
		{{ form_row(registrationForm.email, {
			label: 'Email',
            'attr': {
                'class': 'form-control w-50'
            }
		}) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe',
            'attr': {
                'class': 'form-control w-50'
            }
        }) }}
		{{ form_row(registrationForm.agreeTerms) }}

		<button type="submit" class="btn btn-primary">Envoyer</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
