{% extends 'base.html.twig' %}

{% block title %}Nozama
{% endblock %}

{% block body %}

	<div align="center" class='myform'>
        <a class="btn btn-primary mb-3 mt-2" href="{{path('app_admin_products')}}">Retour</a>
		{{ form_start(formRender) }}
		<div class='mb-3'>
			{{ form_row(formRender.title, {
            label: 'Titre',
            'attr': {
                'class': 'form-control w-50'
            }
        }) }}
		</div>
		{{ form_row(formRender.description, {
            label: 'Description',
            'attr': {
                'class': 'form-control w-50'
            }
        }) }}
		{{ form_row(formRender.image_link, {
			label: 'Image',
            'attr': {
                'class': 'mt-3 mb-3'
            }
		}) }}
		{{ form_row(formRender.price, {
            label: 'Prix',
            'attr': {
                'class': 'form-control w-50 mt-2 mb-3'
            }
        }) }}
        {{ form_row(formRender.stock, {
            label: 'Stock',
            'attr': {
                'class': 'form-control w-50'
            }
        }) }}

		<button type="submit" class="btn btn-primary">Envoyer</button>
		{{ form_end(formRender) }}
	</div>
{% endblock %}
