{% extends 'base.html.twig' %}

{% block title %}Nozama
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<div class="d-flex flex-row justify-content-center admin mb-3" align="center">
			<a href="{{path('app_tags_admin_add')}}" class="btn btn-primary me-1">Ajouter</a>
			<a href="{{path('app_admin')}}" class="btn btn-primary">Retour</a>
		</div>
		<div class="table-responsive">
			<table class="table align-middle">
				<thead>
					<tr>
						<th scope="col" class="w-25">Nom</th>
						<th scope="col" class="w-25">Produit(s)</th>
						<th scope="col" class="w-25">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for tag in tags %}
						<tr class="align-bottom">
							<td>{{tag.name}}</td>
							<td>{% for title in tag.produits %}
								{{title.title}},
							{% endfor %}</td>
							<td>
								<a class="text-dark" href="{{path('app_tags_admin_update', {id: tag.id})}}">Modifier</a>
								|
								<a class="text-dark" href="{{path('app_admin_tags_delete', {id: tag.id})}}">Supprimer</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
