{% extends 'base.html.twig' %}

{% block title %}Nozama
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<div class="d-flex flex-row justify-content-center admin" align="center">
			<a href="{{path('app_admin_products')}}" class="btn btn-primary me-1">Produits</a>
			<a href="{{path('app_admin_tags')}}" class="btn btn-primary">Tags</a>
		</div>
    </div>
	{% endblock %}
