{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	<div align="center" class='myform'>
        <a class="btn btn-primary mb-3 mt-2" href="{{path('app_admin_tags')}}">Retour</a>
		{{ form_start(formRender) }}
		<div class='mb-3'>
			{{ form_row(formRender.name, {
            label: 'Nom',
            'attr': {
                'class': 'form-control w-50'
            }
        }) }}
		</div>
		{{ form_row(formRender.produits, {
            label: 'Produits',
            'attr': {
                'class': 'form-control w-50'
            }
        }) }}

		<button type="submit" class="btn btn-primary mt-3">Envoyer</button>
		{{ form_end(formRender) }}
	</div>
{% endblock %}
