{% extends 'base.html.twig' %}

{% block title %}Nozama
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		.pagination {
			margin-left: 50%;
		}
	</style>

	<div class="example-wrapper">

		<div class='product' align="center">
			<div class="container">
				<div class="justify-content-center">
					<img class="rounded img-fluid" src='{{products.imagelink}}' width="238" height="24"  alt="Image de {{products.title}}">
				</div>
				<h3 class="mt-3">{{products.title}}</h3>
				<p>{{products.description}}</p>
				<p>Prix:
					{{products.price}} €</p>
				<p>Stock:
					{{products.stock}}</p>
				<div class="d-flex flex-row justify-content-center">
					<p>Tags:
						{% for tag in products.tags %}
							<p class="ms-1 me-1">{{tag.name}},</p>
						{% endfor %}
					</p>
				</div>
			</div>

		</div>
	</div>
{% endblock %}
