<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Site pour l'évaluation de Symfony">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link rel="stylesheet" href='/../css/style.css'>
		</head>
		<body>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">
						<img src="/../images/logo site.png" alt="Image du Logo du site" width="30" height="24">
					</a>
					<a class="webname navbar-brand" href="{{path('app_home')}}">Nozama</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link active ms-3" href="{{path('app_home')}}">Accueil</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active ms-3" href="{{path('app_about')}}">A propos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active ms-3" href="{{path('app_products')}}">Produits</a>
							</li>

						</ul>
						{% if app.user != null %}
							<li class="list-unstyled nav-item">
								<a class="nav-link disabled text-dark" href="{{path('app_panier')}}">Panier</a>
							</li>
							<li class="list-unstyled nav-item">
								<a class="nav-link active text-dark" href="{{path('app_logout')}}">Déconnexion</a>
							</li>
							{% if is_granted('ROLE_ADMIN') %}
								<li class="list-unstyled nav-item">
									<a class="nav-link active text-dark" href="{{path('app_admin')}}">Admin</a>
								</li>
							{% endif %}
						{% else %}
							<li class="list-unstyled nav-item">
								<a class="nav-link active text-dark" href="{{path('app_register')}}">S'enregistrer</a>
							</li>
							<li class="list-unstyled nav-item">
								<a class="nav-link active text-dark" href="{{path('app_login')}}">Se connecter</a>
							</li>
						{% endif %}
					</div>
				</div>
			</nav>
			{% block body %}{% endblock %}
			<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
		</body>
	</head>
</html>
